<section id="blog" class="md-padding">
  <div class="container">
    <div class="row">
      <main id="main" class="col-md-8">
        <div class="row">
          {{#each posts}}
          <div class="col-md-5">
            <div class="blog">
              <div class="blog-img">
                <img src="/img/post-img/postt.jpg" class="img-fluid mx-auto" />
              </div>
              <div class="blog-content">
                <ul class="blog-meta">
                  <li><i class="fas fa-users"></i><span class="writer">{{author.username}}</span></li>
                  <li><i class="fas fa-clock"></i><span class="writer">{{generateDate date 'MM DD YYYY'}}</span></li>
                </ul>
                <h3>{{title}}</h3>
                <p>{{truncate content 300}} </p>
                <a href="/posts/{{_id}}">Read More</a>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </main>
      <main class="col-md-4">
        {{> site-sidebar}}
      </main>
    </div>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      {{#paginate current=current pages=pages}}
      {{/paginate}}
    </ul>
  </nav>
</section>